parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        analyseAndScan:
            - src/Emitter/
            - src/Command/
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Access to an undefined property object::\$#'
